body {
  background-color: powderblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  color: black;
  text-align: center;
}
div{
  text-align:center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:cornflowerblue;
}
li {
  float: left;
  padding-left: 20px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
}
li a:hover {
  background-color:lightblue;
}
#cv {
  outline: black 3px solid;
  border: 1px solid blue;
}
#top {
  display: flex;
  align-items:center;
  text-align: center;
  color: green;
  justify-content:space-around;
  flex-direction: row;
}
#scorestatus {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.game {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;

}
.centre {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;

}
.gamediv {
  max-width: 180px;
  padding: 50px;
  border: 10px solid;
  margin: 10px;
  border-color: lightskyblue;  
}
.howplay {
  text-align: center;
}
#endscreen {
  font-size: large;
}