body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
div{
  text-align:center;
}
.cv {
  outline: black 3px solid;
  border: 1px solid blue;
}
#top {
  display: flex;
  align-items:center;
  text-align: center;
  color: green;
  justify-content:space-around;
  flex-direction: row;
}
